IMAGE_NAME=ghcr.io/magnum9o/mediashrinker:latest

MOVIES_ROOT=/mnt/media/Movies
TV_ROOT=/mnt/media/TVSeries
STAGING_ROOT=/srv/mediashrinker/staging
REPORT_ROOT=/srv/mediashrinker/reports

MEDIA_PORT=8787
MEDIA_ENCODER=auto
MEDIA_ENCODING_PROFILE=balanced
MEDIA_LIBRARY=both
MEDIA_JOBS=1

MEDIA_OCR_ENGINE=pgsrip
MEDIA_OCR_LANGS=ita,eng
MEDIA_EXTRACT_PGS=1
MEDIA_ADD_EXTERNAL_TEXT_SUBS=1

MEDIA_DELETE_BAK=0
MEDIA_BITRATE_THRESHOLD_MBPS=55.0
MEDIA_BITRATE_4K_MBPS=45.0
MEDIA_NO_MULTIPASS=0

MEDIA_NOTIFY_URL=
MEDIA_WATCH_INTERVAL=3600

PUID=1000
PGID=1000
